.article__peleador {
    width: 275px;
}

.peleador__link {
    text-decoration: none;
    color: #000;
}

.article__peleador:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.article__peleador__image {
    width: 275px;
    height: 275px;
    object-fit: cover;
    object-position: top;
}

.article__peleador__title {
    text-align: center;
    line-height: 0;
}

.article__peleador__text {
    font-size: 15px;
    padding: 20px 10px;
    line-height: 20px;
}

@media screen and (max-width: 660px) {
    .article__peleador {
        max-width: 275px;
        width: 100%;
    }

    .article__peleador__image {
        max-width: 275px;
        width: 100%;
    }
}