.article {
    text-decoration: none;
    color: #000;
    width: 300px;
}

.article:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.article__image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.article__title {
    text-align: center;
    padding: 2px;
}

@media screen and (max-width: 660px) {
    .article {
        max-width: 300px;
        width: 100%;
    }

    .article__image {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}