.hero {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
}

.hero__container {
    padding: 20px;
    width: 60%;
}

.hero__title {
    font-size: 42px;
    line-height: 0;
}

.hero__text {
    font-size: 20px;
}

.hero__image {
    background-image: url('../assets/homepage/hero.jpg');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 360px;
}

/* Articles */

.articles__container {
    width: 80%;
    margin: 0 auto;
}

.article__title {
    font-size: 32px;
    text-align: center;
}

/* Card */

.article__card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.article__card {
    border: 1px solid #B5B5B5;
    width: 350px;
}

.article__card:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.article__card__image {
    width: 350px;
    height: auto;
}

.article__card__title {
    text-align: center;
    line-height: 0;
}

.article__card__text {
    padding: 0 20px;
    line-height: 16px;
}

/* Peleadores */
.article__peleador__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.article__peleador {
    width: 275px;
}

.article__peleador:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.article__peleador__image {
    width: 275px;
    height: 275px;
    object-fit: cover;
    object-position: top;
}

.article__peleador__title {
    text-align: center;
    line-height: 0;
}

.article__peleador__text {
    font-size: 15px;
    padding: 20px 10px;
    line-height: 20px;
}