.article__card {
    text-decoration: none;
    color: #000;
    border: 1px solid #B5B5B5;
    width: 350px;
}

.article__card:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.article__card__image {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.article__card__title {
    text-align: center;
    line-height: 0;
}

.article__card__text {
    padding: 0 20px;
    line-height: 16px;
}

@media screen and (max-width: 660px) {
    .article__card {
        max-width: 350px;
        width: 100%;
    }

    .article__card__image {
        max-width: 350px;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .article__card__text {
        font-size: 15px;
    }
}