.article__card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.article__card {
    border: 1px solid #B5B5B5;
    width: 350px;
}

.article__card:hover {
    box-shadow: 0px 0px 18px 0px rgba(82, 82, 82, 0.25);
}

.article__card__image {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.article__card__title {
    text-align: center;
    line-height: 0;
}

.article__card__text {
    padding: 0 20px;
    line-height: 16px;
}
