.navbar {
    height: 80px;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    position: fixed;
}

.navbar__logo {
    margin-left: 25px;
}

.navbar__container {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 25px;
}

.navbar__list{
    text-decoration: none;
    color: #000;
}

.navbar__list:hover {
    color: #666;
}