.navbar {
    height: 80px;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    position: fixed;
}

.navbar__logo {
    margin-left: 25px;
}

.navbar__container {
    display: flex;
    list-style: none;
    gap: 25px;
    margin-right: 25px;
}

.navbar__list{
    text-decoration: none;
    color: #000;
}

.navbar__list:hover {
    color: #666;
}

.navbar__menu {
    display: none;
}

@media screen and (max-width: 1280px) {
    .navbar__list {
        font-size: 15px;
    }
}

@media screen and (max-width: 660px) {
    .navbar__menu {
        display: block;
        margin-right: 20px;
    }

    .navbar__container {
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: -100%;
        padding: 20px 0;
        width: 100%;
        align-items: center;
        transition: .3s ease;
    }

    .navbar__container.active {
        left: 0;
        transition: .3s ease;
    }
}