.navbar {
    height: 80px;
    width: 100%;
    top: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.75);
    position: fixed;
}

.navbar__logo {
    margin-left: 25px;
}

.navbar__container {
    list-style: none;
    margin-right: 65px;
}

.navbar__item {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.navbar__link{
    text-decoration: none;
    color: #000;
    display: block;
    padding: 20px;
}

.navbar__link:hover {
    background: #eee;
}

.navbar__item__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #fff;
    list-style: none;
    padding: 0;
    display: none;
}

.navbar__item__dropdown li {
    width: 100%;
    padding: 20px 0;
    text-align: left;
}

.navbar__item_dropdown__link {
    text-decoration: none;
    color: #000;
    padding: 20px;
}

.navbar__item_dropdown__link:hover {
    background-color: #eee;
}

.navbar__item:hover > ul {
    display: initial;
}

.navbar__menu {
    display: none;
}

@media screen and (max-width: 1280px) {
    .navbar__list {
        font-size: 15px;
    }
}

@media screen and (max-width: 660px) {
    .navbar__menu {
        display: block;
        margin-right: 20px;
        cursor: pointer;
    }

    .navbar__container {
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: -100%;
        padding: 0;
        width: 100%;
        transition: .3s ease;
    }

    .navbar__container.active {
        left: 0;
        transition: .3s ease;
    }

    .navbar__item {
        width: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .navbar__link {
        width: 100%;
    }

    .navbar__item__dropdown {
        position: relative;
        width: 100%;
        margin-top: 0px;
    }

    .navbar__item__dropdown li {
        text-align: center;
    }

    .navbar__item:focus-within > ul {
        display: initial;
    }
}