.article {
    width: 80%;
    margin: 100px auto;
}

.article__container {
    width: 60%;
}

.article__video {
    width: 100%;
    height: 400px;
}

.article__image {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 660px) {
    .article__subtitle {
        text-align: center;
    }

    .article {
        width: 95%;
        margin: 100px auto;
    }
    
    .article__container {
        width: 100%;
    }

    .article__video {
        height: 250px;
    }
}