.article {
    width: 80%;
    margin: 100px auto;
}

.article__container {
    width: 60%;
}

@media screen and (max-width: 660px) {
    .article__subtitle {
        text-align: center;
    }

    .article {
        width: 95%;
        margin: 100px auto;
    }
    
    .article__container {
        width: 100%;
    }
}